/***
 This file belongs to the Gotcha! distribution.
 Copyright (C) 1998-2002 Thorsten Thielen <thth@c2226.de>

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 ***/

#ifndef OS2_INCLUDED
   #include <os2.h>
#endif

#include "id.h"
#include "version.h"

ICON    1 "src\\data\\gotcha.ico"
POINTER 2 "src\\data\\gotcha.ptr"
BITMAP  3 "src\\data\\snap.bmp"
BITMAP  4 "src\\data\\smile.bmp"

/** Haupthilfstabelle ****************************************************/

HELPTABLE MAIN_HELP_TABLE
{
    HELPITEM    ID_DLG_MAIN,        SUBTABLE_MAIN,         PANEL_MAIN
    HELPITEM    ID_DLG_SETTINGS,    SUBTABLE_SETTINGS,     PANEL_SETTINGS
/*    HELPITEM    ID_DLG_SNAPSHOT,    SUBTABLE_SNAPSHOT,     2100 */
}

HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{
    HELPSUBITEM    WID_RB_CLIPBOARD,    PANEL_MAIN
}

HELPSUBTABLE SUBTABLE_SETTINGS
SUBITEMSIZE     2
{
    HELPSUBITEM    WID_PB_OK,           PANEL_SETTINGS
}
